<div class="content-container">
  <span class="dialog-header">
    <span class="title">Добавить валюты</span>
    <button
      class="close-button"
      id="add-participant__button_close"
      (click)="closeDialog()"
    >
      <mat-icon aria-hidden="false" fontIcon="clear"></mat-icon>
    </button>
  </span>
  <mat-select (change)="onCurrencyChange()" multiple>
    <mat-option value="selectAll" selected>Выбрать все валюты</mat-option>
    <mat-option value="CNY">CNY</mat-option>
    <mat-option value="JPY">JPY</mat-option>
    <mat-option value="TRY">TRY</mat-option>
  </mat-select>
  <button class="save-button">Добавить</button>
</div>
