.main {
  padding: 20px 40px;
  .title {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
    gap: 50px;
    h1 {
      margin: 0;
      font-size: 18px;
    }
  }

  .time {
    margin-bottom: 20px;
  }

  .other-currencies {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
