.currency {
  display: flex;
  max-width: fit-content;
  gap: 50px;
  .currency-info {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 150px;
    //  flex-grow: 1;
    //  flex-shrink: 0;
  }
}
